
<div class="w3-bar tabsbar">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openCity(event,'tab1')">Recent Question</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'tab2')">Popular Question</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'tab3')">Most Responses</button>
    <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'tab4')">Priority Questions</button>
</div>

@foreach (var post in Model.LatestPosts)
{
    <div id="tab1" class="w3-container  city">
        <div class="set-container">
            <div>
                <p class="question">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </p>
            </div>
            <div>
                <p class="by-part">By - <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId" class="take-part">@post.AuthorName</a>&nbsp &nbsp Category - <a href="#" class="take-part">Dance</a></p>
            </div>
            <div class="margin"> </div>
            <div class="answer">
                <p>
                    Immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources oOur SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.L, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres<span class="dots fw-700">.... </span><span class="hiding"> and other database systems.PHP is a widely-used, free, and efficient.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water. There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc. Pollution must be dealt with immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water.There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc.</span>
                    <a href="#" class="read-more fw-700">Show More</a>
                    <a href="#" class="show-less hiding fw-700">Show Less</a>
                </p>
            </div>

            <div>
                <p class="by-part ml-800"><strong>By -</strong> <a href="profile.html" class="take-part">Arbaz1084</a></p>
            </div>

            <div class="margin"> </div>

            <div class="share">
                <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> 5 Min Ago</a>
                <a target="_blank">
                    <i class="fa fa-comment" style="font-size:25px;"></i>
                    @if (post.RepliesCount == 0)

                    {
                        <span>No Replies</span>
                    }

                    else
                    {
                        <span>@post.RepliesCount Replies</span>
                    }
                </a>

                <a href="#" target="_blank">
                    <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                    <p href="#" class="sbutton">Share</p>
                </a>
            </div>


        </div>
    </div>
}


@foreach (var post in Model.LatestPosts)
{
    <div id="tab2" class="w3-container  city" style="display:none">
        <div class="set-container">
            <div>
                <p class="question">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </p>
            </div>
            <div>
                <p class="by-part">By - <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId" class="take-part">@post.AuthorName</a>&nbsp &nbsp Category - <a href="#" class="take-part">Dance</a></p>
            </div>
            <div class="margin"> </div>
            <div class="answer">
                <p>
                    Immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources oOur SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.L, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres<span class="dots fw-700">.... </span><span class="hiding"> and other database systems.PHP is a widely-used, free, and efficient.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water. There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc. Pollution must be dealt with immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water.There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc.</span>
                    <a href="#" class="read-more fw-700">Show More</a>
                    <a href="#" class="show-less hiding fw-700">Show Less</a>
                </p>
            </div>

            <div>
                <p class="by-part ml-800"><strong>By -</strong> <a href="profile.html" class="take-part">Arbaz1084</a></p>
            </div>

            <div class="margin"> </div>

            <div class="share">
                <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> 5 Min Ago</a>
                <a target="_blank">
                    <i class="fa fa-comment" style="font-size:25px;"></i>
                    @if (post.RepliesCount == 0)

                    {
                        <span>No Replies</span>
                    }

                    else
                    {
                        <span>@post.RepliesCount Replies</span>
                    }
                </a>

                <a href="#" target="_blank">
                    <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                    <p href="#" class="sbutton">Share</p>
                </a>
            </div>


        </div>
    </div>
}

@foreach (var post in Model.LatestPosts)
{
    <div id="tab3" class="w3-container  city" style="display:none">
        <div class="set-container">
            <div>
                <p class="question">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </p>
            </div>
            <div>
                <p class="by-part">By - <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId" class="take-part">@post.AuthorName</a>&nbsp &nbsp Category - <a href="#" class="take-part">Dance</a></p>
            </div>
            <div class="margin"> </div>
            <div class="answer">
                <p>
                    Immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources oOur SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.L, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres<span class="dots fw-700">.... </span><span class="hiding"> and other database systems.PHP is a widely-used, free, and efficient.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water. There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc. Pollution must be dealt with immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water.There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc.</span>
                    <a href="#" class="read-more fw-700">Show More</a>
                    <a href="#" class="show-less hiding fw-700">Show Less</a>
                </p>
            </div>

            <div>
                <p class="by-part ml-800"><strong>By -</strong> <a href="profile.html" class="take-part">Arbaz1084</a></p>
            </div>

            <div class="margin"> </div>

            <div class="share">
                <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> 5 Min Ago</a>
                <a target="_blank">
                    <i class="fa fa-comment" style="font-size:25px;"></i>
                    @if (post.RepliesCount == 0)

                    {
                        <span>No Replies</span>
                    }

                    else
                    {
                        <span>@post.RepliesCount Replies</span>
                    }
                </a>

                <a href="#" target="_blank">
                    <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                    <p href="#" class="sbutton">Share</p>
                </a>
            </div>


        </div>
    </div>
}

@foreach (var post in Model.LatestPosts)
{
    <div id="tab4" class="w3-container  city" style="display:none">
        <div class="set-container">
            <div>
                <p class="question">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </p>
            </div>
            <div>
                <p class="by-part">By - <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId" class="take-part">@post.AuthorName</a>&nbsp &nbsp Category - <a href="#" class="take-part">Dance</a></p>
            </div>
            <div class="margin"> </div>
            <div class="answer">
                <p>
                    Immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources oOur SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres, and other database systems.PHP is a widely-used, free, and efficient alternative to competitors such as Microsoft's ASP.L, SQL Server, MS Access, Oracle, Sybase, Informix, Postgres<span class="dots fw-700">.... </span><span class="hiding"> and other database systems.PHP is a widely-used, free, and efficient.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water. There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc. Pollution must be dealt with immediately and globally as well. Natural resources, which we are losing due to pollution today, have been produced in millions of years and might take another Million to repair.Industries emanating toxic gases and insoluble waste, damage our natural resources of air, soil and water.There could be various examples of human induced pollutants, like – plastics, littering, radioactive contamination, soil contamination etc.</span>
                    <a href="#" class="read-more fw-700">Show More</a>
                    <a href="#" class="show-less hiding fw-700">Show Less</a>
                </p>
            </div>

            <div>
                <p class="by-part ml-800"><strong>By -</strong> <a href="profile.html" class="take-part">Arbaz1084</a></p>
            </div>

            <div class="margin"> </div>

            <div class="share">
                <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> 5 Min Ago</a>
                <a target="_blank">
                    <i class="fa fa-comment" style="font-size:25px;"></i>
                    @if (post.RepliesCount == 0)

                    {
                        <span>No Replies</span>
                    }

                    else
                    {
                        <span>@post.RepliesCount Replies</span>
                    }
                </a>

                <a href="#" target="_blank">
                    <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                    <p href="#" class="sbutton">Share</p>
                </a>
            </div>


        </div>
    </div>
}

