@model OneMits.Models.Search.SearchModel



@if (!Model.EmptySearchResults)
{
    @foreach (var question in Model.Questions)
    {
        <div id="tab1" class="w3-container  city">
            <div class="set-container">
                <div>
                    <p class="question">
                        <a asp-controller="Question" asp-action="Index" asp-route-id="@question.QuestionId">
                            @question.QuestionTitle
                        </a>
                    </p>
                </div>
                <div>
                    <p class="by-part">By - <a asp-controller="Profile" asp-action="Details" asp-route-id="@question.AuthorId" class="take-part">
                        @question.AuthorName</a>&nbsp &nbsp Category - 
                    <a asp-controller="Category" asp-action="Topic" asp-route-id="@question.Category.CategoryId" class="take-part">
                      @question.Category.CategoryTitle
                    </a></p>
                </div>
                <div class="margin"> </div>
                <div class="answer">
                    <p>
                        @question.QuestionContent
                    </p>
                </div>

                <div>
                    <p class="by-part ml-800"><strong>By -</strong>
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@question.AuthorId" class="take-part">
                        @question.AuthorName</a></p>
                </div>

                <div class="margin"> </div>

                <div class="share">
                    <a target="_blank"><i class="fa fa-heart" style="font-size:25px;"></i></a>
                    <a target="_blank"><i class="fa fa-history" style="font-size:25px;"></i> @question.QuestionCreated</a>
                    <a target="_blank">
                        <i class="fa fa-comment" style="font-size:25px;"></i>
                        @if (question.AnswerCount == 0)

                        {
                            <span>No Replies</span>
                        }

                        else
                        {
                            <span>@question.AnswerCount Replies</span>
                        }
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa fa-share-alt-square" style="font-size:25px;"></i>
                        <p href="#" class="sbutton">Share</p>
                    </a>
                </div>


            </div>
        </div>
    }
}
else
{
    <div class="noPosts">
        <i class="material-icons md-72">question_answer</i>
        <h3>
            No search Results found for @Model.SearchQuery<br />
        </h3>
    </div>
}

@section Scripts{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}





