@model OneMits.Models.AdminPanel.PanelIndexModel

<span class="contact100-Admin-title">
    Admin Panel
</span>

<div id="tab2" class="w-container  city">
    <div class="set-container">
        <div class="row">
            <div class="col-md-6">
                <p class="input-fr">Number of Forums : <span style="color: #e36664">@Model.NumberForums</span></p>
            </div>
            <div class="col-md-6">
                <p class="input-fr">Number Of Questions : <span style="color: #e36664">@Model.NumberQuestions</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="input-fr">Number of Member : <span style="color: #e36664">@Model.NumberMember</span></p>
            </div>
            <div class="col-md-6">
                <p class="input-fr">Per Day User : <span style="color: #e36664">@Model.NumberUser</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="input-fr">Number Of like : <span style="color: #e36664">@Model.NumberLike</span></p>
            </div>
            <div class="col-md-6">
                <p class="input-fr">Number Of Replies : <span style="color: #e36664">@Model.NumberReplies</span></p>
            </div>
        </div>
    </div>
</div>

<div style="margin: 50px 0px 0px 136px;">
    <span class="input-ur">
        Search A Users :
        <input name="SearchQuery" type="text" />
    </span>

</div>

